/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}
/* -------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
/* ------------------------------------------- */
._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* -----Header------------------------------------ */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}
.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* -----Page-------------------------------------- */
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}
.page__advantages {
}
/* -----Header-Block-------------------------------------- */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
}
.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.header-block__subtitle {
  color: #737373;
  line-height: calc(57 / 40 * 100%);
}
/* -----Main-Block-------------------------------------- */
.main-block {
  position: relative;
}
.main-block_container {
}
.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20 * 100%);
}
@media (max-width: 479px) {
  .main-block__text {
    color: #3d3d3d;
  }
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  letter-spacing: 0.2px;
  padding: 5px 36px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: calc(28 / 14 * 100%);
  margin: 10px 0;
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__button_orange {
  background-color: #ff7b47;
  color: #ffffff;
}
.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}
/* -----Services-block------------------------------------ */
.services {
}
.services__container {
}
.sevices__body {
}
@media (min-width: 670px) {
  .sevices__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}
.services__column {
  flex: 0 1 33.333%;
}
@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.services__item {
  height: 100%;
  min-width: 290px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px 40px;
}
@media (max-width: 479px) {
  .services__item {
    padding: 25px 30px;
  }
}
.item-service {
}
.item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.item-service_green {
  background-color: #0d5c63;
}
.item-service_green .item-service__title {
  color: #fff;
}
.item-service_green .item-service__text {
  color: #fff;
}
.item-service__icon {
}
.item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
}
.item-service__text {
  color: #737373;
  font-weight: 500;
  line-height: calc(20 / 14 * 100%);
}
/* -----Advantages-Page------------------------------------ */
.advantages {
  margin: 80px 0px;
}
.advantages__container {
}
.advantages__header {
  margin: 0px 0px 50px 0px;
}
.advantages__body {
  display: flex;
  justify-content: center;
}
@media (min-width: 670px) {
  .advantages__body {
    display: flex;
    margin: 0px -15px;
  }
}
@media (max-width: 992px) {
  .advantages__body {
    flex-wrap: wrap;
  }
  .advantages__column:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.advantages__column {
  padding: 0 15px;
}
.advantages__item {
  height: 100%;
  width: 230px;
  background-color: #fff;
  padding: 30px 40px;
  text-align: center;
}
.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px;
}
.advantages__icon {
}
.advantages__value {
  color: #252b42;
  font-weight: bold;
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
}
.advantages__text {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.1px;
}
/* -----Practice-Page------------------------------ */
.page__practice {
}
.practice {
  margin: 125px 0px 80px;
}
.practice__container {
}
._container {
}
.practice__header {
  margin: 0px 0px 45px 0px;
}
.practice__body {
  display: flex;
}
.practice__column {
}
.practice__item {
  height: 100%;
  width: 230px;
  background-color: #fff;
}
.practice__title {
    font-weight: bold;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    padding: 30px 67px 0px 30px;
}
.practice__text {
    padding: 15px 40px 30px 30px;
}
.practice__img {
}
/* -----Footer------------------------------------ */
.footer {
}
